.horizontal_list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.horizontal_list li {
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  display:"flex"
}

.vertical_list {
  padding: 0;
  list-style-type: none;
}
.vertical_list div {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}
.vertical_list li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  display:"flex"
}

.serialNumber {
  width: 10%;
}

.subject {
  width: 60%;
}

.date {
  width: 20%;
}

.status {
  width: 14%;
}
